[MYSQLD]
user=mysql
basedir=/usr
datadir=/var/lib/mysql
pid-file=mysqld.pid
socket=mysql.sock
port=3306
log-error=error.log

### INNODB 
innodb-buffer-pool-size = 200M
innodb-flush-log-at-trx_commit = 2
innodb-file-per-table = 1
#innodb_log_file_size = 256M
innodb-log-files-in-group = 2
#innodb-buffer-pool-instances = 4
innodb-thread-concurrency = 0
#innodb-file-format = barracuda
innodb-flush-method = O_DIRECT
innodb_locks_unsafe_for_binlog = 1
#OTHER THINGS, BUFFERS ETC
key-buffer-size = 8M
max-allowed-packet = 16M
sort-buffer-size = 512K
read-buffer-size = 256K
read-rnd-buffer-size = 512K
#thread_cache_size=1024
myisam-sort-buffer-size = 8M
skip-name-resolve
event_scheduler = 1
memlock = 0
sysdate-is-now = 1
max-connections = 200
thread-cache-size = 64
#query-cache-type = 1
#query-cache-size = 32M
table-open_cache = 512
lower-case-table-names = 0

[MYSQL]
socket=mysql.sock

[client]
port=3306
socket=mysql.sock

[MYSQLD_SAFE]
basedir=/usr
datadir=/var/lib/mysql
pid-file=mysqld.pid
log-error=error.log